:root {
  --body-gradient: linear-gradient(#eeeeef, #ddd);
  --highlight: #00cdff;
  --container-color: rgb(255, 246, 253);
  --chatbox-color: white;
}

.dark {
  --container-color: #4a4a4a;
  --body-gradient: linear-gradient(#333, #2b2b2b);
  --text-color: whitesmoke;
  --chatbox-color: #2b2b2b;
}

body {
  padding: 0;
  margin: 0;
  background-image: var(--body-gradient);
}

.container {
  min-height: 100vh;
  max-width: 60rem;
  margin: 0 auto;
  background-color: var(--container-color);
  border: solid var(--highlight);
  border-width: 0 2px;
}

#chatbot-interface {
  display: flex;
  flex-direction: column;
}

#bot-face {
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#robot-img {
  height: 50vh;
}

#chat-container {
  margin-top: 2vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

#chat-form {
  display: flex;
}

#chat-input {
  width: 40vw;
  font-size: 1.5em;
}

#btn-chat-send {
  width: 10vw;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#chatbox-container {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

#chatbox {
  background-color: var(--chatbox-color);
  width: 50vw;
  max-height: 30vh;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 1.2em;
  overflow: hidden;
  overflow-y: scroll;
}

.chat-item {
  color: var(--text-color);
}

.chat-item-user {
  font-family: "Roboto", sans-serif;
}

.chat-item-bot {
  font-family: "Roboto Mono", monospace;
  text-align: right;
}
